/* NAVIGATION BAR */
.navbar {
  padding: 1em;
}
.navbar-brand {
  font-family: "Cocogoose-demiBold", "Montserrat Alternates";
  font-size: 26px;
  padding-right: 20px;
}
.nav-item {
  padding: 0 15px 0 0;
}
.nav-link {
  font-family: "Cocogoose-Light","Montserrat Alternates";
  font-size: 13px;
}
.d-flex > input, .d-flex > button {
  font-size: 13px;
}

/* FIRST SECTION */
.first-heading {
  display: inline-block;
  position: relative;
  font-size: 4em;
  font-family: "Made Saonara", "DM Serif Display";
  line-height: 1.3em;
  margin: 0 0 0.8em 0;
}
.highlight-1 {
  /* background-image: url("/Users/amanverma/Desktop/NGO/images/brush.png"); */
  background-image: url('/NGO-site/images/brush.png');
  background-repeat: no-repeat;
  background-size: 70% 50%;
  padding: 8px 0;
}

.row {
  padding: 6em 4em;
  margin: 0;
}
.first-text {
  font-family: "Cocogoose-Light", "Montserrat Alternates";
  /* font-weight: 600; */
  font-size: 14px;
}
.donate-button {
  font-family: "Cocogoose-Light", "Montserrat Alternates";
  font-size: 13px;
  padding: 10px;
  margin: 2em 0 0 0 ;
}
.discover-button {
  font-family: "Cocogoose-Light", "Montserrat Alternates";
  font-size: 13px;
  padding: 10px;
  margin: 2em 0 0 1em ;
}

/* FIRST-SECTION IMAGES */
.image1 {
  clip-path: circle(38% at 50% 32.5%);
  position: relative;
  top: 5%;
  left: 6%;
  width: 45%;

}
.image2 {
  clip-path: circle(38% at 50% 57%);
  position: relative;
  top: 34%;
  right: 20%;
  width: 50%;
}
.image3 {
  clip-path: circle(38% at 65% 49%);
  position: absolute;
  top: 10%;
  right:12%;
  width: 65%;
}

@media only screen and (max-width: 600px) {
  .first-section-images {
    top: 60px;
  }
}

.shadow {
  filter: drop-shadow(6px 12px 50px -10px rgba(0,0,0,0.67));
}
/* SHADOW NOT WORKING */

/* DONATION OPTIONS */
.cards {
  padding: 6em 5em 2em 6em;
}
.card {
  border: none;
}

@media only screen and (max-width: 600px) {
  .cards .card-body {
    width: 16rem;
  }
}

.icon {
  margin: 0 0 1.5em 0;
}
.card-subtitle{
  font-family: "Made Saonara", "DM Serif Display";
}
.card-text {
  font-family: "Cocogoose-Light", "Montserrat Alternates";
  font-size: 13px;
  line-height: 2em;
  padding: 10px 0 0 0;
}

.second-heading {
  display: inline-block;
  text-align: right;
  font-family: "Made Saonara", "DM Serif Display";
  font-size: 3em;
  line-height: 1.3;
  margin: 0 0 0.8em 0;
}
.highlight-2 {
  /* background-image: url('/Users/amanverma/Desktop/NGO/images/stroke1.png'); */
  background-image: url('/NGO-site/images/stroke1.png');
  background-repeat: no-repeat;
  background-size: 120% 120%;
  padding: 0 0;
}

@media only screen and (max-width: 600px) {
  .row-2 {
    padding: 3.8em 4em 2em 4em;
  }
  .second-section-image {
    padding: 0 0 3em 0;
  }
  .highlight-2 {
    /* background-image: url('/Users/amanverma/Desktop/NGO/images/stroke1.png'); */
    background-image: url('/NGO-site/images/stroke1.png');
    background-repeat: no-repeat;
    background-size: 130% 160%;
    padding: 8px 0;
  }
}

.second-text {
  font-family: "Cocogoose-Light", "Montserrat Alternates";
  text-align: right;
  font-size: 13px;
  line-height: 2em;
  margin: 0 0 2.8em 0;
}
.about-us-button {
  font-family: "Cocogoose-Light", "Montserrat Alternates";
  font-size: 13px;
  padding: 10px;
  margin: 2em 1em 0 0 ;
}

/* STORIES / THIRD SECTION */

.third-heading-container {
  padding-bottom:0;
}
.third-heading {
  display: inline-block;
  font-family: "Made Saonara", "DM Serif Display";
  font-size: 3em;
  line-height: 1.3;
  /* margin-left: 8%; */
}

.highlight-3 {
  background-image: url("/Users/amanverma/Desktop/NGO/images/brush.png");
  /* background-image: url('/NGO-site/images/brush.png'); */
  background-repeat: no-repeat;
  background-size: 40% 90%;
  padding: 8px 0;
}
.card {
  padding-bottom: 70px;
}
.card-body{
  padding-left: 0;
}
.name  {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: "Cocogoose-Light", "Montserrat Alternates";
  font-size: 13px;
}
.age {
  margin: 0 0 16px 0;
  font-family: "Cocogoose-Light", "Montserrat Alternates";
  font-size: 13px;
}
.card-text {
  font-family: "Cocogoose-Light", "Montserrat Alternates";
  font-size: 13px;
}
.links {
  position: relative;
  padding: 30px 0;
}
.card-link {
  text-decoration: none;
  color: black;
  position: absolute;
  bottom: 5px;
}

.card-link-animation {
  color: #2f2f2f;
}
.card-link-animation:hover {
  color:black;
}

.card-link-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.4em;
  bottom: -5px;
  left: 0;
  color: black;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.card-link-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
